@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
@import url("https://fonts.googleapis.com/css?family=Notable");
/*-----zmienne-----*/
/*-----zmienne-----*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Open Sans", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

section ~ .container {
  margin: 50px auto;
}

header {
  background-color: #313234;
}

header nav img {
  padding: 10px 0;
}

header nav ul {
  float: right;
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  line-height: 50px;
  display: block;
  color: #ffffff;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
}

header nav ul li a:hover {
  color: #01C8DD;
}

.hero {
  background-image: url("https://images.unsplash.com/photo-1529236183275-4fdcf2bc987e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b1799c4b65f757386e977ba79075ee8c&auto=format&fit=crop&w=1347&q=80");
  background-size: 100%;
  background-position: center;
  margin: 0 auto;
  height: 350px;
}

.slogan {
  background: rgba(34, 30, 30, 0.9);
  opacity: 0.9;
  float: right;
  max-width: 800px;
  padding: 30px 300px 30px 30px;
  margin-top: 100px;
}

.slogan p {
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 0.1em 0.1em 0.05em #333;
  font-size: 30px;
  font-weight: lighter;
}

.slogan h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: left;
}

[class*="col-"] {
  width: 100%;
  float: left;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.col-offset-1 {
  margin-left: 8.33%;
}

.col-offset-2 {
  margin-left: 16.66%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.33%;
}

.col-offset-5 {
  margin-left: 41.66%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.33%;
}

.col-offset-8 {
  margin-left: 66.66%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.33%;
}

.col-offset-11 {
  margin-left: 91.66%;
}

.col-offset-12 {
  margin-left: 100%;
}

.icon i {
  width: 100px;
  border: 0 #FFFFFF;
  border-radius: 10%;
  cursor: pointer;
  font-size: 60px;
  background-color: #313234;
  line-height: 100px;
  color: #ffffff;
}

.icon i:hover {
  background-color: #01C8DD;
}

.icon h3 {
  text-transform: uppercase;
  color: #313234;
  padding: 20px 0 0;
}

.icon p {
  color: #979696;
  font-weight: lighter;
}

i:hover ~ h3 {
  color: #01C8DD;
}

.research {
  padding: 100px 50px 100px 130px;
}

.laptop {
  padding: 100px 60px;
}

.cogs {
  padding: 100px 130px 100px 50px;
}

.featured {
  padding: 0 100px;
}

.featured h1 {
  text-transform: uppercase;
  color: #313234;
  font-weight: 900;
  padding: 10px;
  font-size: 40px;
}

.featured p {
  color: #979696;
  font-weight: lighter;
  padding: 10px 0 40px;
}

.object-fit_cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.col-m-2:hover {
  opacity: 0.8;
  cursor: pointer;
}

.col-m-2:hover .layer {
  display: block;
}

.col-m-2 .layer {
  display: none;
  position: absolute;
  margin: 4% 5%;
}

.col-m-2 .layer i {
  font-size: 25px;
  border-radius: 10%;
  background-color: antiquewhite;
  margin: 15%;
  padding: 5px 5px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.col-m-2 .layer i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.col-m-2 img {
  width: 100%;
}

.employees img {
  width: 90%;
  border-radius: 50%;
  padding: 30px 30px 10px;
  cursor: pointer;
}

.employees p {
  position: absolute;
  color: #01C8DD;
  display: none;
  margin: 0 5%;
}

.employees:hover img {
  -webkit-filter: brightness(10%);
          filter: brightness(10%);
}

.employees:hover p {
  display: block;
}

.col-4 img {
  height: 500px;
  width: 100%;
}

.promotion {
  background-position: right;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.col-8 {
  color: #ffffff;
}

.col-8 h1 {
  text-transform: uppercase;
  text-align: left;
  padding: 100px 0 20px;
}

.col-8 p {
  text-align: left;
  padding: 0 100px 20px 0;
}

[class*="-text"] {
  height: auto;
  margin: 20px;
  float: left;
  color: #ffffff;
  text-align: left;
}

.main-text {
  width: 50%;
}

.sub-text {
  width: 200px;
  font-style: italic;
}

.numbers h1 {
  font-size: 60px;
  font-family: "Notable", sans-serif;
}

.numbers p {
  font-size: 22px;
  color: #01C8DD;
  display: block;
  text-transform: uppercase;
  position: inherit;
}

.copyright {
  background-color: black;
  color: #ffffff;
}

.copyright p {
  padding: 20px;
}

.footer {
  background-color: #313234;
  color: #ffffff;
  padding: 30px;
}

.footer h1 {
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 50px;
}

.footer h1:after {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 10px;
  content: '';
  display: block;
  border: 1px solid #fff;
}

.footer p {
  text-align: left;
  width: 350px;
  height: auto;
}

.copyright {
  background-color: black;
}

.copyright p {
  padding: 20px;
}

.about h1 {
  padding-right: 100px;
}

.about p {
  width: 70%;
}

.promo-section {
  background-color: black;
}

.col-1 h4 {
  padding-bottom: 30px;
}

.cont p {
  font-size: 13px;
  padding: 0 50px 18px;
  text-align: left;
}

.social i {
  cursor: pointer;
  font-size: 40px;
  float: left;
  padding: 5px;
}

.social i:hover {
  background-color: #ffffff;
  color: #313234;
}

/*-----@media-----*/
@media (max-width: 767px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  .research, .laptop, .cogs {
    padding: 10px 100px;
  }
  .employees p {
    position: relative;
    display: unset;
  }
  .col-m-2 .layer {
    display: block;
    position: absolute;
    margin: 30% 40%;
  }
  .main-text {
    width: 70vw;
  }
  .col-m-2 img {
    height: 60%;
    width: 80%;
  }
}

@media (min-width: 768px) {
  /* For desktop: */
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
  [class*="col-"] {
    float: left;
  }
}
/*# sourceMappingURL=style.css.map */